<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{block "title" .}} PocketBase Go-Web {{end}}</title>
</head>

<body class="bg-slate-900">
    <div class="container mx-auto px-4 sm:px-8 md:px-16 lg:px-32 xl:px-48 py-4">
        <!-- Navbar -->
        <div class="text-white border border-slate-500 p-4 rounded-md text-2xl font-bold">PocketBase Golang Web</div>
        
        
        <!-- Content Area -->
        {{block "body" .}} {{end}}

        
    </div>
</body>

</html>